.goods {
  display: flex;
  width: 100%;
}

.goods-left {
  width: 60px;
}

.goods-left a {
  display: block;
  width: 100%;
  height: 60px;
}

.goods-left img {
  width: 100%;
  vertical-align: middle;
}

.goods-right {
  flex: 1;
  padding: 0 5px;
}

.goods-right p {
  color: #666;
}

.goods-right-extra {
  font-size: 12px;
  overflow: hidden;
}

.goods-right-extra .extra-new {
  color: red;
}

.goods-right-extra .extra-old {
  color: #aaa;
  text-decoration: line-through;
}

.goods-right-extra .extra-num {
  float: right;
  color: #aaa;
}

.goods-right-size {
  font-size: 12px;
  color: #999;
}

.edit {
  width: 100%;
  text-align: left;
}
.edit-size {
  width: 100%;
  padding: 15px 5px;
}

.edit-size span {
  border: 1px solid #ccc;
  padding: 5px;
  padding-top: 6px;
  line-height: 3;
  font-size: 12px;
}

.edit-size span.active {
  background-color: orangered;
  color: #fff;
}

.edit-num {
  width: 100%;
  padding: 10px 5px;
}

.edit-num span {
  font-size: 12px;
}

.edit-num  .mui-numbox {
  height: 23px;
  padding: 0 30px;
}

.edit-num  .mui-numbox .mui-btn {
  width: 30px;
}

