img {
  vertical-align: middle;
}

/* 头部 */
.lt-header {
  background-color: #006699;
}

.lt-header-search,.lt-header-back,.lt-header-refresh,.lt-header-home {
  font-size: 20px;
  line-height: 44px;
  color: #fff;
}

.lt-header-title {
  color: #fff;
}

.lt-header-title input {
  height: 30px;
  margin-top: 7px;
  color: #000;
  padding: 0 15px;
}

/* 底部 */
.lt-footer {
  background-color: #006699;
}

.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.lt-footer .mui-item.mui-active {
  color: orange;
}

.lt-footer .mui-item .mui-icon {
  top: 3px;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
 
}

.lt-footer .mui-item .mui-tab-label {
  display: block;
  font-size:12px;
}

